<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>The New Yorker Cartoon Caption Contest Dataset</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <div class="container">
    <div class="row" align="center"><h2>The New Yorker Cartoon Caption Contest Dataset</h2></div>
    <div class="row col-md-8 offset-md-2">
      <p>
        Thanks for your interest in this dataset.  The data may not be used for commercial purposes. If you do use it for academic research, we would appreciate you referencing the dataset as follows: 
      </p>
      <blockquote>
        <TT>Jain, L., Jamieson, K., Mankoff, R., Nowak, R., Sievert, S., (2020). The New Yorker Cartoon Caption Contest Dataset. https://nextml.github.io/caption-contest-data/</TT>
      </blockquote>
      <p>
        These data were gathered as part of the The New Yorker (TNY) cartoon caption contest.  The crowdsourced ratings inform the final judging of the captions, but the official winner is decided by the TNY editorial staff.
      </p>
      <p>
      <i>The most recent contest (not shown) is likely receiving votes at <a href="https://www.newyorker.com/cartoons/vote">https://www.newyorker.com/cartoons/vote</a>.</i>
      </p>
      <p>
      More insight into this dataset is at
      <a href="https://nextml.github.io/caption-contest-data-api/examples.html">
          https://nextml.github.io/caption-contest-data-api/examples.html
      </a>, which answers the following questions:
        <ul>
            <li>How many responses are gathered per contest?</li>
            <li>How does the system perform, both for the web server and sampling algorithm?</li>
            <li>How do ratings behave after users have seen many captions?</li>
            <li>How funny are captions? How do top captions behave?</li>
            <li>How well can (older) natural language processing (NLP) tools find similar captions?</li>
        </ul>
      </p>
    </div>  
  </div>
   
  <div class="container">
    <div class="row" align="center">

        <!--
      <h2>Downloads</h2>
      <p><a href="all-data.zip"><b>Download all data</b></a></p>
      <p>Links to download the captions/cartoon are available on each dashboard.</p>
        -->
      <h3>Contests</h3>
      <table style="width:80%" align="center" class="table">
        <tr>
          <th>Contest Dashboard</th>
          <th>Cartoon</th>
          <th>Top Rated caption</th>
          <th>The New Yorker's winner</th>
          <th>Finalists Announced (date of issue)</th>
          <th>Number of votes</th>
          <!--
          <th>Sampler(s)</th>
          -->
        </tr>
        {% for c in summary %}
          <tr>
            <td><a href="dashboards/{{c['contest']}}.html">{{c['contest']}} Dashboard</a></td>
            <td><img src="{{c['cartoon']}}" width=300 /></td>
            <td>“{{c['winner']}}”</td>
            <td>{{nycc_winners.get(c['contest'], ["", "", ""])[0]}}</td>
            <td>{{dates.get(c['contest'], {}).get('announceFinalistsIssueDate', "")}}</th>
            <td>{{"{:,.0f}".format(c.get('n_responses', -1))}}</td>
            <!--
            <td>{{samplers[c['contest']]}}</td>
            -->
          </tr>
        {% endfor %}
      </table>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </div>
</body>
</html>

